{% extends "base.html" %}

{% block title %}User Board: {{board}} {% endblock %}

{% block content %}

<div class="span3">
	<div class="well">
	<h3>User Boards</h3>
	
	<ul>
		{% for b in boards %}
			<li {% if b == board %}style="color:blue" {%endif %} ><a {% if b == board %}style="color:blue" {%endif %} href="{% url user_board b.owner.pk b.slug %}">{{b}}</a></li>
		{% endfor %}
	</ul>	
</div>

</div>
<div class="span8 well">
<form class="well alert alert-info form-horizontal" action="{% url new_item %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="board" value="{{board.pk}}" />
  <label>New Pin:</label>
<label class="control-label">Pin Title:</label>
  <div class="controls"><input type="text" class="span3" name="title"></div>
  
  <label class="control-label">Choose a file:</label>
  <div class="controls"><input type="file" name="file"/></div>
  
  
  <label class="control-label">...or Get a file from this url:</label>
  <div class="controls">
  	<input type="text" class="span3" name="url">
  </div>
  
  <div class="controls">
  <button type="submit" class="btn">Pin</button>
  </div>
</form>

<div>
{% for p in pins %}
	{{p}}
{% endfor %}
</div>

</div>
{% endblock %}