{% extends "base.html" %}

{% block title %}User Dashboard {% endblock %}

{% block content %}

<div class="span3">
	<div class="well">
		<h3>User Boards</h3>
		
		<ul>
			{% for b in boards %}
				<li><a href="{% url user_board b.owner.pk b.slug %}">{{b}}</a></li>
			{% endfor %}
		</ul>
		<form method="post" action="{% url new_board %}">{% csrf_token %}
		
			New board:
			{% if add_error != None 	%}
			<div class="alert alert-error">
			{{add_error}}
			</div>
			{% endif %}
			<input type="text" name="name" />
			<input type="submit" value="Save" />
	
		</form>
	</div>
</div>
{% endblock %}