
<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>Bootstrap, from Twitter</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 
 
    <!-- Le styles --> 
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet"> 
    <style> 
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style> 
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> 
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
 
    <!-- Le fav and touch icons --> 
 
  </head> 
 
  <body> 
 
    <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner"> 
        <div class="container"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a> 
          <a class="brand" href="#">Project name</a> 
          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li class="active"><a href="#">Home</a></li> 
              <li>
              {% if user.is_authenticated %}
              <a href="{% url user_dashboard %}">{{user}}</a>
              </li>
              <li>
              <a href="{% url auth_logout %}">Logout</a>
              {% else %}
              <a href="{% url auth_login %}">Login</a>
              {% endif %}
              </li> 
              <li><a href="#contact">Contact</a></li> 
            </ul> 
          </div><!--/.nav-collapse --> 
        </div> 
      </div> 
    </div> 
 
    <div class="container"> 
 	
 	<h1>{% block title %}{% endblock %}</h1>
 	<div class="row">
     {% block content %}
     {% endblock %}
 	</div>
    </div> <!-- /container --> 
 
    <!-- Le javascript
    ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="{{MEDIA_URL}}bootstrap/js/jquery.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-transition.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-alert.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-modal.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-dropdown.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-scrollspy.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-tab.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-tooltip.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-popover.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-button.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-collapse.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-carousel.js"></script> 
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap-typeahead.js"></script> 
 
  </body> 
</html> 